# GROMACS Backup files
\#*.*\#

# `gmx energy` output
*.xvg
*.png
*.tga
*.mp4

# Trajectory (binary) files
*.xtc
*.cpt
*.edr
*.tpr
*.trr

start*.pdb
cluster*.pdb
implicit_solv/andrea/0-100ns/sim-3kbar/clusters_0.4nm.pdb
implicit_solv/andrea/0-100ns/sim-4kbar/2v1a-MD.gro
implicit_solv/andrea/0-100ns/sim-4kbar/2v1a-MD.pdb
implicit_solv/sim-1bar/
implicit_solv/sim-3kbar/
implicit_solv/sim-4kbar/
implicit_solv/test/

*MD.pdb
*MD.gro
*_*.pdb

# Log and output parameter files
*.log
mdout*.mdp
output.*.out

# PBC-treated structure files
*_pbc.gro

# Vim stuff
*.un~
*.swp

# Python stuff
__pycache__/

*.zip

# Amber Binary files
*.ncrst
*.nc
2v1a*.out
error
output
logfile
mdinfo
*.xpm
bck.*